[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bitshares = "*"
ruamel-yaml = "*"
ccgains = {git = "https://github.com/probstj/ccGains.git"}

[dev-packages]

[requires]
python_version = "3.6"
