interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/get_account_history?account_id=1.2.22&size=1&operation_type=0&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '{"detail":"Not Found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/account_history?account_id=1.2.1607166&size=5&operation_type=4&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '[{"account_history":{"id":"2.9.874999340","account":"1.2.1607166","operation_id":"1.11.852947316","sequence":4,"next":"2.9.874999339"},"operation_history":{"trx_in_block":1,"op_in_trx":0,"operation_result":"[0,{}]","virtual_op":1,"op":"","op_object":{"fee":{"amount":0,"asset_id":"1.3.0"},"order_id":"1.7.352856621","account_id":"1.2.1607166","pays":{"amount":1000000,"asset_id":"1.3.113"},"receives":{"amount":29980908,"asset_id":"1.3.0"},"fill_price":{"base":{"amount":500000000,"asset_id":"1.3.0"},"quote":{"amount":16677280,"asset_id":"1.3.113"}},"is_maker":false}},"operation_type":4,"operation_id_num":852947316,"block_data":{"block_num":37040343,"block_time":"2019-04-30T20:35:09","trx_id":"c36f3c1b03f0eefed6fce7b974c5b8fde3f7d124"}},{"account_history":{"id":"2.9.875101346","account":"1.2.1607166","operation_id":"1.11.853047161","sequence":6,"next":"2.9.874999383"},"operation_history":{"trx_in_block":15,"op_in_trx":0,"operation_result":"[0,{}]","virtual_op":2,"op":"","op_object":{"fee":{"amount":404,"asset_id":"1.3.113"},"order_id":"1.7.352856645","account_id":"1.2.1607166","pays":{"amount":29975856,"asset_id":"1.3.0"},"receives":{"amount":1010000,"asset_id":"1.3.113"},"fill_price[...]
