interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/get_account_history?account_id=1.2.22&size=1&operation_type=0&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '{"detail":"Not Found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/account_history?account_id=1.2.1607166&size=5&operation_type=0&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '[{"account_history":{"id":"2.9.874991834","account":"1.2.1607166","operation_id":"1.11.852939916","sequence":2,"next":"2.9.872861808"},"operation_history":{"trx_in_block":5,"op_in_trx":0,"operation_result":"[0,{}]","virtual_op":0,"op":"","op_object":{"fee":{"amount":45468,"asset_id":"1.3.0"},"from":"1.2.379048","to":"1.2.1607166","extensions":[],"amount_":{"amount":10900000,"asset_id":"1.3.113"}}},"operation_type":0,"operation_id_num":852939916,"block_data":{"block_num":37040113,"block_time":"2019-04-30T20:23:39","trx_id":"c6d15d887e62fa670789e76fb94544bda09d7b57"}},{"account_history":{"id":"2.9.876004269","account":"1.2.1607166","operation_id":"1.11.853932690","sequence":43,"next":"2.9.875728153"},"operation_history":{"trx_in_block":5,"op_in_trx":0,"operation_result":"[0,{}]","virtual_op":0,"op":"","op_object":{"fee":{"amount":1963,"asset_id":"1.3.113"},"from":"1.2.374575","to":"1.2.1607166","extensions":[],"amount_":{"amount":2565749,"asset_id":"1.3.113"}}},"operation_type":0,"operation_id_num":853932690,"block[...]
