interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/get_account_history?account_id=1.2.22&size=1&operation_type=0&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '{"detail":"Not Found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/account_history?account_id=1.2.1607166&size=5&operation_type=0&sort_by=account_history.sequence&type=data&agg_field=operation_type&from_date=2019-05-23T06%3A13%3A54
  response:
    body:
      string: '[{"account_history":{"id":"2.9.901224784","account":"1.2.1607166","operation_id":"1.11.878718746","sequence":964,"next":"2.9.901221883"},"operation_history":{"trx_in_block":6,"op_in_trx":0,"operation_result":"[0,{}]","virtual_op":0,"op":"","op_object":{"fee":{"amount":45468,"asset_id":"1.3.0"},"from":"1.2.379048","to":"1.2.1607166","extensions":[],"amount_":{"amount":2000000,"asset_id":"1.3.113"}}},"operation_type":0,"operation_id_num":878718746,"block_data":{"block_num":37681492,"block_time":"2019-05-23T06:13:54","trx_id":"ed2bbce3afd4efee3434aa74c1e83b839b775423"}},{"account_history":{"id":"2.9.903862364","account":"1.2.1607166","operation_id":"1.11.881309971","sequence":1010,"next":"2.9.903675384"},"operation_history":{"trx_in_block":0,"op_in_trx":0,"operation_result":"[0,{}]","virtual_op":0,"op":"","op_object":{"fee":{"amount":45468,"asset_id":"1.3.0"},"from":"1.2.379048","to":"1.2.1607166","extensions":[],"amount_":{"amount":3203352,"asset_id":"1.3.113"}}},"operation_type":0,"operation_id_num":881309971,"bloc[...]
