interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/status
  response:
    body:
      string: '{"server_time":"2022-09-11T15:21:52.362831","head_block":{"elasticsearch":{"block_num":72317331,"block_time":"2022-09-11T15:21:51Z","block_timestamp":1662909711.0,"age":1.362837},"elasticsearch_first":{"block_num":973,"block_time":"2015-10-13T15:10:00Z"},"blockchain_current_state":{"block_num":72317332,"block_time":"2022-09-11T15:21:54Z","block_timestamp":1662909714.0,"age":1.637163}},"status":"ok"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
