interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/get_account_history?account_id=1.2.22&size=1&operation_type=0&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '{"detail":"Not Found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitshares.ws/openexplorer/es/account_history?account_id=1.2.12376&size=5&operation_type=17&sort_by=account_history.sequence&type=data&agg_field=operation_type
  response:
    body:
      string: '[{"account_history":{"id":"2.9.7510462","account":"1.2.12376","operation_id":"1.11.7320568","sequence":1420,"next":"2.9.7472851"},"operation_history":{"trx_in_block":0,"op_in_trx":0,"operation_result":"[1,\"1.4.639\"]","virtual_op":0,"op":"","op_object":{"fee":{"amount":733817,"asset_id":"1.3.0"},"account":"1.2.12376","extensions":[],"amount_":{"amount":150000000,"asset_id":"1.3.113"}}},"operation_type":17,"operation_id_num":7320568,"block_data":{"block_num":12924762,"block_time":"2017-01-08T00:54:42","trx_id":"34c241465efbe117ca5c0f016cffccaa428857fc"}},{"account_history":{"id":"2.9.7686546","account":"1.2.12376","operation_id":"1.11.7495304","sequence":1487,"next":"2.9.7686413"},"operation_history":{"trx_in_block":0,"op_in_trx":0,"operation_result":"[1,\"1.4.647\"]","virtual_op":0,"op":"","op_object":{"fee":{"amount":733817,"asset_id":"1.3.0"},"account":"1.2.12376","extensions":[],"amount_":{"amount":45000000,"asset_id":"1.3.113"}}},"operation_type":17,"operation_id_num":7495304,"block_data":{"block[...]
